@label_floating-padding-x: 1.5rem;
@label_floating-padding-y: 1.3rem;
@pagbank-fields-input__padding-top: @label_floating-padding-y;
@pagbank-fields-input__padding-bottom: @label_floating-padding-y;
@pagbank-fields-input__padding-right: @indent__xs;
@pagbank-fields-input__padding-left: @indent__s;
@pagbank-fields-label__font-size: 1rem;
@pagbank-fields-tooltip__padding: @indent__xs @indent__s;
@pagbank-fields-tooltip-icon__font-size: 14px;
@pagbank-checkout__box-shadow: 0 3px 5px rgba(57, 22, 58, .05);
@pagbank-checkout__border-radius: 3px;
@pagbank-checkout__margin-adjust: 21px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .actions-toolbar {
        &.place-order-two-cc {
            margin-top: @indent__base;
        }
    }

    // Two CC Steps Progress Bar
    .two-cc-steps-progress {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: @indent__s;
        padding: @indent__s 0;
        
        .step {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            position: relative;
            
            &:last-child {
                margin-bottom: 0;
            }
            
            .step-number {
                width: @indent__m;
                height: @indent__m;
                margin-right: 0;
                margin-bottom: @indent__xs;
                border-radius: 50%;
                background: @color-gray90;
                color: @color-gray40;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: @font-weight__semibold;
                font-size: @font-size__xs;
                border: 1px solid @border-color__base;
                transition: all 0.3s ease;
            }
            
            .step-title {
                font-size: @font-size__xs;
                color: @text__color__muted;
                transition: color 0.3s ease;
            }
            
            &.active {
                .step-number {
                    background: @color-white;
                    color: @link__color;
                    border-color: @link__color;
                }
                
                .step-title {
                    color: @text__color;
                    font-weight: @font-weight__semibold;
                }
            }
            
            &.completed {
                .step-number {
                    background: @active__color;
                    color: @color-white;
                    border-color: @active__color;

                }
                
                .step-title {
                    text-align: center;
                    color: @active__color;
                }
            }
        }
        
        .step-line {
            display: block;
            flex: 0 0 70px;
            height: 2px;
            background: @border-color__base;
            align-self: center;
            transform: translateY(-(@indent__s));
            transition: background 0.3s ease;
            
            &.completed {
                background: @active__color;
            }
        }
    }
    
    // Step Content
    .step-content {
        animation: fadeIn 0.3s ease;
        
        .payment-division,
        .pagbank-payer-first,
        .pagbank-payer-second {
            margin-bottom: @indent__m !important;
        }

        fieldset {
            &.field-to-pay {
                .field:last-of-type {
                    margin: 0 !important;
                }
            }

            .form-persona-information {
                margin: @indent__base @indent__s 0 @indent__s !important;
            }
        }

        .pagbank-payer-first,
        .pagbank-payer-second {
            .two-fields {
                display: flex;
                flex-direction: row;
            }
        }

        .payment-slider {
            padding: @indent__base;
        }

        .amount {
            color: @link__color;
            font-size: @font-size__s;
            font-weight: @font-weight__regular;
            margin-left: @indent__xs;
        }
        .detail-amount {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
    
    // Step Actions
    .step-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: @indent__base;

        .primary {
            .lib-button-responsive();
            .lib-button-l();
        }

        button.action {
            &.back {
                order: 1;
            }
            
            &.continue {
                order: 2;
                margin-left: auto;
            }
        }
    }

    // Payment Division Slider
    .payment-slider {
        flex-direction: row;
        justify-content: space-between;

        .control {
            .input-range {
                cursor: pointer;
                width: 100%;
                margin: 0 0 @indent__m 0;
            }
            
            .payment-amounts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: @indent__xs;
                
                .first-card-amount,
                .second-card-amount {
                    flex: 50%;
                    background: @panel__background-color;
                    padding: @indent__xs @indent__s;
                    border: @border-width__base solid @border-color__base;
                    border-radius: @button__border-radius;
                    
                    span {
                        display: block;
                        font-size: @font-size__xs;
                        color: @text__color__muted;
                        margin-bottom: @indent__xs;
                    }
                    
                    strong {
                        font-size: @font-size__base;
                        color: @text__color;
                    }
                }
            }
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(@indent__xs);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // Modal for Add New Card
    aside {
        &.modal-sm {
            &.pagbank-add-new-card {
                .modal-inner-wrap {
                    max-width: 450px;
                    margin: 0 auto;
                }
                .field {
                    &.month,
                    &.year {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .action-add-new-vault {
        margin-top: @indent__m;
    }

    // PagBank Forms
    .form-pagbank {
        .checkout-payment-method {
            .payments {
                .legend {
                    &:extend(.abs-add-clearfix all);
                    &:extend(.abs-visually-hidden-reset all);
                }
            }
        }

        .credit-card-types {
            margin: 0;
            padding: 0;
            
            .item {
                display: inline-block;
                list-style: none;
                margin: 0 @indent__xs 0 0;
                vertical-align: middle;

                img {
                    -webkit-filter: none;
                    filter: none;
                    width: 20px;
                    height: auto;
                    vertical-align: middle;
                }
                
                &._hidden {
                    .lib-visually-hidden();
                }
            }
        }

        .field-to-pay {
            margin: 0 @indent__s;

            &._hidden {
                .lib-visually-hidden();
            }
        }

        .pagbank-payer-data {
            margin-bottom: @indent__base;
        }

        .form-persona-information {
            margin: @indent__base @indent__s 0 @indent__s;
        }

        .fieldset {

            &.payment-pagbank,
            &.pagbank-payer-data {
                border: 1px solid;
                border-color: @color-gray-light2;
                display: grid;

                .lib-css(background-color, @color-white);
                .lib-css(border-radius, @pagbank-checkout__border-radius);
                .lib-css(padding-bottom, @indent__s);
        
                .legend {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &:extend(.abs-visually-hidden-reset all);
        
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom: 1px solid;
                    border-color: @color-gray-light2;
                    padding: 10px 20px;
                    background-color: @color-gray-light01;
                    width: 100%;
        
                    &-icon {
                        margin-right: 0;
                        text-align: right;
                    }
                }
        
                .form-waiting {
                    padding: @indent__base;
                    text-align: center;
                    .lib-heading(h3);
                }

                &.vault {
                    .installments {
                        margin-top: @indent__base;
                    }
                }
            }
            .field {
                margin: 0 0 @indent__base;

                &.choice {
                    margin-bottom: @indent__base;
                }

                .control {
                    position: relative;

                    &.pagbank-input-group {
                        box-sizing: border-box;
                        display: block;
                        position: relative;

                        input[type='text'],
                        input[type='password'],
                        input[type='url'],
                        input[type='tel'],
                        input[type='search'],
                        input[type='number'],
                        input[type='datetime'],
                        input[type='email'],
                        select {
                            height: unset;
                            padding: @label_floating-padding-y @label_floating-padding-x;
                            width: 100%;
                        }

                        input::placeholder {
                            color: transparent;
                        }

                        input::-webkit-input-placeholder {
                            color: transparent;
                        }

                        input::-ms-input-placeholder {
                            color: transparent;
                        }

                        input::-moz-placeholder {
                            color: transparent;
                        }

                        .label {
                            display: block;
                            font-weight: normal;
                            margin-bottom: 0;
                            overflow: hidden;
                            padding: @label_floating-padding-y @label_floating-padding-x;
                            pointer-events: none;
                            position: absolute;
                            text-overflow: ellipsis;
                            top: 0;
                            transition: all .1s ease-in-out;
                            white-space: nowrap;
                            width: 80%;
                        }

                        &._with-tooltip {
                            position: relative;

                            input {
                                padding-right: 32px;
                                width: 100%;
                            }

                            .label {
                                padding-right: 32px;
                                width: 80%;
                            }

                            .field-tooltip {
                                padding: @indent__s 0;
                                right: @indent__xs;
                                text-align: right;
                                width: 32px;

                                .credit-card-types {
                                    padding: @indent__s 0;
                                }
                            }
                        }

                        select:not(:checked),
                        input:not(:placeholder-shown) {
                            padding-bottom: calc(@label_floating-padding-y / 3) !important;
                            padding-top: calc(@label_floating-padding-y + @label_floating-padding-y * (2 / 3)) !important;
                        }

                        select:not(:checked)~.label,
                        input:not(:placeholder-shown)~.label {
                            font-size: 10px;
                            padding-bottom: calc(@label_floating-padding-y/3) !important;
                            padding-top: calc(@label_floating-padding-y/3) !important;
                        }
                    }
                }
            }
            .fields {
                .group-2 {
                    display: inline-flex;
                    width: 100%;

                    .month,
                    .number {
                        padding-right: @indent__xs;
                        width: 70%;
                    }
                    .cvv,
                    .year {
                        padding-left: @indent__xs;
                        width: 30%;
                    }
                }
            }
        }
    }

    .pagbank-instruction {
        .instruction-information {
            margin-bottom: @indent__s;
        }
    }

    .pagbank-payment-success-details {
        margin-bottom: @indent__s;

        .pagbank-payment {
            &-boleto-copy,
            &-deep-link-copy,
            &-pix-copy {
                margin-bottom: @indent__s;
                max-width: 500px;
    
                .field {
                    .control {
                        &._with-tooltip {
                            input {
                                height: 40px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &-pix-image,
            &-deep-link-image {
                margin-bottom: @indent__s;
                max-width: 500px;
    
                .pix-qrcode,
                .deep-link-qrcode {
                    max-width: 250px;
                    height: auto;
                }
            }

            &-deep-link-image {
                .lib-visually-hidden();
            }
        }

        .pagbank-items {
            text-align: left;
        }
    }

    .full-checkout .checkout-payment-method .payment-method-content .fieldset.pagbank-payer-data:not(:last-child) {
        margin-bottom: @indent__base;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .pagbank-payment-success-details {
        .pagbank-payment {
            &-deep-link-image {
                .lib-visually-hidden-reset();
            }

            &-deep-link-url {
                .lib-visually-hidden();
            }
        }
    }
}